:root{
    --col-pnk: #efc7c2;
    --col-pch: #ffe5d4;
    --col-lgn: #bfd3c1;
    --col-grn: #68a691;
    --col-plm: #4F3130;
    --col-blu: #70B5D3;
}

.navbar{
    background-color: var(--col-plm) !important;
    color: var(--col-pch) !important;
}
.jumbotron{
    /* background-image: url("../images/hero-background.jpg"); */
    background-color: var(--col-pch)!important;
    background-size: cover;
}
.sectionHeading{
    text-align: center;
}

.about{
    /* margin-top: -24px; */
    background-color: var(--col-lgn);
   
}
.aboutContainer{
    margin-top: -24px;
    border: 2px solid var(--col-plm);
}
.work{
    background-color: var(--col-pch);
}

.card{
    border: 4px solid var(--col-blu)
}
.card img{
    border: 4px solid var(--col-pnk)
}
.card img:hover{
    border: 4px solid var(--col-grn)
}
.skills{
    background-color: var(--col-blu);
}
.contact{
    background-color: var(--col-plm);
    color: var(--col-pch);
}
.cardContainer{
    margin-bottom: 15px;
}
.card{
    margin: 0 auto;
}