/* Global variables*/
:root{
    --col-pnk: #efc7c2;
    --col-pch: #ffe5d4;
    --col-lgn: #bfd3c1;
    --col-grn: #68a691;
    --col-plm: #4F3130;
    --col-blu: #70B5D3;
}
body{
    background-color: var(--col-pch);
}

/* Haading */

.sectionHeading{
    text-align: center;
}

/* Navigation Styles */
.navbar{
    background-color: var(--col-plm) !important;
    color: var(--col-pch) !important;
}

/* Jumbotron */
.jumbotron{
    background-image: url("../images/hero-background.jpg");
    background-color: var(--col-pch)!important;
    background-size: cover;
}

/* About Me Section */
.about{
    /* margin-top: -24px; */
    background-color: var(--col-lgn);
   
}
.aboutContainer{
    margin-top: -10px;
    border: 2px solid var(--col-plm);
}

/* Work Section */
/* .work{
    background-color: var(--col-pch);
} */

.card{
    border: 4px solid var(--col-blu);
}
.card img{
    border: 4px solid var(--col-pnk);
    height: 200px;
}
.card img:hover{
    border: 4px solid var(--col-grn);
}

.cardContainer{
    margin-bottom: 15px;
}

.card{
    margin: 0 auto;
}

/* Skills Section */


.skillsContainer{
    background-color: var(--col-pnk);
    border: 2px solid var(--col-plm);
    text-align: justify;
    width: 40%;

}
.skillsList{
    list-style-type: square;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;    
}

.skillsList li{
    padding: 5px;
}

/* Footer - contact section */

.footerHeading{
    background-color: var(--col-plm);
    color: var(--col-pch);
    text-align: center;
}
.contactContainer a{
    padding: 30px;

}
.emailForm{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.btnMail:hover{

    box-shadow: 5px -5px 5px var(--col-plm);
}

.contactContainer a:hover{
    color: var(--col-grn);
}



