/* Global variables*/
:root{
    --col-pnk: #efc7c2;
    --col-pch: #ffe5d4;
    --col-lgn: #bfd3c1;
    --col-grn: #68a691;
    --col-plm: #4F3130;
    --col-blu: #70B5D3;
}
body{
    background-color: var(--col-pch);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Haading */

.sectionHeading{
    text-align: center;
}

/* Navigation Styles */
.navbar{
    background-color: var(--col-plm) !important;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.navbar a{
    color: var(--col-pch);
}
/* Jumbotron */
.jumbotron{
    background-image: url("../images/hero-background.jpg");
    background-color: var(--col-pch)!important;
    background-size: cover;
    color: var(--col-plm);
}
.profileImg{
    max-width: 80%;
}

/* About Me Section */

.aboutContainer{
    text-align: center;
    margin-top: -10px;
    border: 2px solid var(--col-plm);
    border-left: none;
    border-right: none;
    background-color: var(--col-lgn);
}

/* Work Section */

.card{
    border: 4px solid var(--col-blu);
}
.card img{
    border: 4px solid var(--col-pnk);
    height: 200px;
}
.card img:hover{
    border: 4px solid var(--col-grn);
}

.cardContainer{
    margin-bottom: 15px;
}

.card{
    margin: 0 auto;
}

/* Skills Section */


.skillsContainer{
    background-color: var(--col-pnk);
    border: 2px solid var(--col-plm);
    text-align: justify;
    width: 40%;
    max-width: 600px;

}
.skillsList{
    list-style-type: square;
    /* display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* height: 300px;      */
}

.skillsList li{
    padding: 5px;
}

/* Footer - contact section */

.footerHeading{
    background-color: var(--col-plm);
    color: var(--col-pch);
    text-align: center;
}

.contactContainer{
    flex-wrap: wrap;
}
.contactContainer a{
    color: var(--col-plm);
    text-decoration: none;
    padding: 5px 35px;


}
.emailForm{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--col-plm);
    
}
.btnMail{
    background-color: var(--col-pnk);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--col-plm);
}
.btnMail:hover{

    box-shadow: 5px -5px 5px var(--col-plm);
}

.contactContainer a:hover{
    color: var(--col-grn);
}



